@media (max-width: 663px) {
  .adoption-form {
    width: 400px;
    background: rgba(255, 127, 80, 0.301);
    padding: 20px 25px;
    border-radius: 10px;
  }
  .adoption-form h1 {
    width: 380px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 0 15px;
  }

  .adoption-form p {
    font-weight: 600;
    width: 600px;
    padding: 0 15px;
  }

  .input-box input {
    width: 360px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 18px;
    border-bottom-width: 3px;
    transition: all 0 3s ease;
  }

  #types {
    height: 44px;
    width: 360px;
    margin: 0 18px;
  }

  #box {
    margin: 0 18px;
    width: 360px;
  }

  button {
    width: 370px;
    margin: 0 18px;
    margin-top: 18px;
  }
}
