@media (max-width: 663px) {
  body {
    background-color: peachpuff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adoption-form {
    max-width: 500px;
    width: 450px;
    background: rgba(255, 127, 80, 0.514);
    padding: 5px 10px;
    /* height: 100vh; */
    border-radius: 10px;
  }

  .adoption-form h1 {
    width: 400px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
  }

  .input-box input {
    width: 400px;
    border-radius: 10px;
    border: 1px solid;
    padding: 0 10px 0 10px;
    font-size: 16px;
    border-bottom-width: 3px;
  }
  #types {
    width: 420px;
  }
  #box {
    width: 420px;
  }

  button {
    width: 420px;
    padding: 5px 50px;
    background: rgb(228, 73, 17);
    font-size: large;
    margin-top: 15px;
    border-radius: 10px;
  }
}
